body {
	background: #000f1f
}

.container, div, b, input {
	color: #bfdfff;
    font-family: 'IBM Plex Mono', monospace !important
}

button, .optionstab td div {
	border-radius: 4px !important;
	box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.25);
    font-family: 'IBM Plex Mono', monospace !important
}

button:hover {
	transform: scale(1.1);
	box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.25), 0px 0px 12px white
}

.tabbtn {
	background: linear-gradient(#ffff7f, #bfff7f) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	color: rgba(0, 0, 0, 0.625) !important
}

.secondarytabbtn {
	background: linear-gradient(#bfffff, #bfbfff) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	color: rgba(0, 0, 0, 0.625) !important
}

.storebtn {
	background: linear-gradient(#ffffbf, #dfffbf) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	color: rgba(0, 0, 0, 0.625) !important
}

.unavailablebtn {
	transform: scale(1) !important;
	background: linear-gradient(#bf7f7f, #7f7f7f) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	color: rgba(127, 0, 0, 0.625) !important
}

.popup {
	background: linear-gradient(#bfffff, #bfbfff) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.625) !important
}

.optionstab td div b, .popup div, .popup span, .popup b {
	color: rgba(0, 0, 0, 0.625) !important
}

.infinitybtn {
	background: linear-gradient(#ffff00, #ff7f00) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	color: rgba(0, 0, 0, 0.625) !important
}

#coinAmount {
	color: #007fff !important
}