body {
	background: #000f1f
}

.container, div, b, input {
	color: #bfdfff;
    font-family: 'IBM Plex Mono', monospace !important
}

button {
	background: #000f1f !important;
	border: 1px solid !important;
	border-color: transparent;
	border-radius: 3px !important;
    font-family: 'IBM Plex Mono', monospace !important
}

button:hover {
	transform: scale(1.1)
}

.tabbtn {
	border-color: transparent #7fbfff transparent #7fbfff !important;
	box-shadow: 1px 0px 3px rgba(127, 191, 255, 0.25), -1px 0px 3px rgba(127, 191, 255, 0.25);
	color: #bfdfff !important
}

.secondarytabbtn {
	border-color: transparent #bfff7f transparent #bfff7f !important;
	box-shadow: 1px 0px 3px rgba(191, 255, 127, 0.25), -1px 0px 3px rgba(191, 255, 127, 0.25);
	color: #dfffbf !important
}

.storebtn {
	border-color: transparent #7fbfff transparent #7fbfff !important;
	box-shadow: 1px 0px 3px rgba(127, 191, 255, 0.25), -1px 0px 3px rgba(127, 191, 255, 0.25);
	color: #bfdfff !important
}

.storebtn div, .storebtn b {
	color: #bfdfff !important
}

.unavailablebtn, .timestudylocked, .eternityupbtnlocked, .newdimlocked {
	transform: scale(1) !important;
	border-color: transparent #7f7f7f transparent #7f7f7f !important;
	box-shadow: 1px 0px 3px rgba(127, 127, 127, 0.25), -1px 0px 3px rgba(127, 127, 127, 0.25);
	color: #ff0000 !important
}

.popup {
	background: linear-gradient(#bfffff, #bfbfff) !important;
	border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(255, 255, 255, 0.25) !important;
	box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.625) !important
}

.popup div, .popup span, .popup b {
	color: rgba(0, 0, 0, 0.625) !important
}

#coinAmount {
	color: #007fff !important
}

/* Galaxy */
.galaxybtn, #gSacrifice.storebtn {
	border-color: transparent #003fff !important;
	box-shadow: 1px 0px 3px rgba(0, 63, 255, 0.25), -1px 0px 3px rgba(0, 63, 255, 0.25);
	color: #7f9fff !important
}

/* Infinity */
.infinitybtn, #idtabbtn button, .newdim {
	border-color: transparent #ffbf00 transparent #ffbf00 !important;
	box-shadow: 1px 0px 3px rgba(255, 191, 0, 0.25), -1px 0px 3px rgba(255, 191, 0, 0.25);
	color: #ffdf7f !important
}

.infinitybtn div, .infinitybtn b {
	color: #ffdf7f !important
}

/* Eternity */
.eternitybtn, .eternitytabbtn, #tdtabbtn button, .timestudy, .eternityupbtn {
	border-color: transparent #bf00ff transparent #bf00ff !important;
	box-shadow: 1px 0px 3px rgba(191, 0, 255, 0.25), -1px 0px 3px rgba(191, 0, 255, 0.25);
	color: #df7fff !important
}

.eternitybtn div, .eternitybtn b {
	color: #df7fff !important
}

/* Meta */
#mdtabbtn button {
	border-color: transparent #00ffff transparent #00ffff !important;
	box-shadow: 1px 0px 3px rgba(0, 255, 255, 0.25), -1px 0px 3px rgba(0, 255, 255, 0.25);
	color: #7fffff !important
}

/* Quantum */
.quantumbtn {
	border-color: transparent #3fff00 !important;
	box-shadow: 1px 0px 3px rgba(63, 255, 0, 0.25), -1px 0px 3px rgba(63, 255, 0, 0.25);
	color: #9fff7f !important
}

/* Fixes */
.optionstab td .storebtn {
	background: #000f1f !important;
	border: 1px solid !important;
	border-color: transparent #7fbfff transparent #7fbfff !important;
	border-radius: 3px !important;
	box-shadow: 1px 0px 3px rgba(127, 191, 255, 0.25), -1px 0px 3px rgba(127, 191, 255, 0.25);
	color: #bfdfff !important
}


.presPos1.newdimlocked, .presPos4.newdimlocked {
	transform: scale(1) translate(50%, 0) !important;
}
.presPos1.newdim:hover, .presPos4.newdim:hover {
	transform: scale(1.1) translate(50%, 0) !important;
}

.presPos3.newdimlocked, .presPos6.newdimlocked {
	transform: scale(1) translate(-50%, 0) !important;
}
.presPos3.newdim:hover, .presPos6.newdim:hover {
	transform: scale(1) translate(-50%, 0) !important;
}